<!DOCTYPE html>
<html lang="en">
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('send', 'pageview');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CTP Ethiopia</title>
  <meta name="description" content="CTP Ethiopia CTP aims to demystify the college application process to US universities by giving Ethiopian high school students the necessary training they will need to excel on the SAT exam and by offering comprehensive help with filling out the different aspects of the college application. Furthermore, CTP has a new internship platform called CTP Careers, aimed at providing a database of varied sought out companies, organizations, and start-ups that high-school students to recent college graduates can apply to and gain professional experience.">

  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="canonical" href="https://ctpethiopia.org/404">
  <link rel="alternate" type="application/rss+xml" title="CTP Ethiopia Podcast" href="https://anchor.fm/s/72c2f160/podcast/rss" />
</head>


  <body >

    <main class="main" aria-label="Content">
	  


<header id="is-sticky">
	<a href="/" class="is-pulled-left"><h1>CTP Ethiopia Podcast</h1></a>
	<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenu">
	    
	    	<a href="https://www.ctpethiopia.org">Home</a>
		<a href="https://www.ctpethiopia.org/about">About</a>
	    	<a href="https://guides.ctpethiopia.org">Guides</a>
	        <a href="https://pod.ctpethiopia.org/pages/donate">Donate</a>
		<a href="../#podcast">Podcast</a>
		<a href="https://twitter.com/ctpethiopia" target="_blank"><meta name="twitter:card" content="twitter icon link out to @ctpethiopia twitter feed">
			<span class="icon">
			  <i class="fab fa-twitter"></i>
			</span>
		</a>
    </div>
    <a role="button" class="navbar-burger is-hidden-desktop" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

	</nav>
</header>

      <section id="generic" class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-two-thirds-tablet">
				<div class="content">
					<h1>The page you requested can not be found.</h1>
         		<p class="is-size-5-tablet">Go <a href="http://ctpethiopia.org/" target'"_blank">home</a>
						</p>     
          <p class="is-size-5-tablet">CTP Ethiopia! To read about us, please visit the <a href="http://ctpethiopia.org/about" target'"_blank">following page</a>
						</p></div>
           
			</div>
		</div>
</section>


    </main>

	<footer class="footer has-text-centered">
	<div class="container">
		Brought to you by  <a href="https://ctpethiopia.org/" target="_blank">CTP Ethiopia Inc.</a> <a href="http://ctpethiopia.org/privacy" target="_blank">Privacy</a>	</div>
</footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="../assets/js/scripts.js"></script>
  </body>

</html>
